<!-- Generated template for the FeesComponent component -->
<ion-header>
    <ion-navbar>
        <ion-title>
            <img alt="logo" height="40" src="assets/imgs/axar.png"> FEES
        </ion-title>
    </ion-navbar>
</ion-header>
<ion-content padding>


    <div padding>
        <ion-row *ngIf="kidsList; else loading">


            <button ion-button block id="list-row" style="background:#48c5ff;" *ngFor="let item of kidsList" (click)="getFeesForKid(item)">
        
                            <ion-col col-3 ion-item  no-lines id="col-avatar">
                              
                                <ion-avatar item-left>
                                    <img src="{{item.avatarSrc}}" alt="child pic">
                                </ion-avatar>
        
                            </ion-col>
        
                            <ion-col id ="list-col">
        
                                {{ item.kidName }}<br>
        
        
                                {{ item.groupName }} {{item.groupID}}
                                
                            </ion-col>
                    </button>




        </ion-row>
        <div>
            <ng-template #loading>
                <ion-spinner name="bubbles">Loading Kids...</ion-spinner>
            </ng-template>
        </div>

    </div>




    <div padding>
        <button ion-button block id="card-name" *ngIf=selectedKid>
                {{selectedKid}}

        </button>
    </div>


    <div>
        <ion-card id="card-detail" *ngFor="let item of feeList">
            <ion-card-header id="fee-header">
                {{ item.dateOfAttendance | date }}
            </ion-card-header>
            <ion-card-content padding id="attendance">

                Attendance :
                <div style="font-weight: bold;"> {{ item.present }}</div>

            </ion-card-content>
            <ion-card-content id="fee">
                Fee Paid :
                <div style="font-weight: bold;"> {{ item.feePaid }}</div>

            </ion-card-content>

        </ion-card>
        <ng-template #loading2>
            <ion-spinner name="bubbles">Loading Kids...</ion-spinner>
        </ng-template>
    </div>

</ion-content>