page-home {
    #home-header {
        background: color($colors, primary);
    }
    #list-row {
        
        height: 60px;
    }
    #list-col {
        background-color:transparent;
    }
    #border {
        border: 1px solid #ff0000;
    }
    #col-avatar {
        width: 30px;
        height: 30px;
        background-color: transparent;
    }
    #kids-pic {
        background-repeat: repeat;
        height: 105px;
        transition-property: width;
        transition-duration: 2s;
        background-size: cover;
        background-position: center;
    }
    #kids-pic:hover {
        width: 300px;
    }
    #text-div {
        margin: auto;
        vertical-align: middle;
    }
    .even {
        background-color: rgb(40, 179, 214);
    }
    .odd {
        background-color: rgb(121, 241, 245);
    }
}