<ion-header id="home-header">
    <ion-navbar>

        <ion-title>
            <img alt="logo" height="40" src="assets/imgs/axar.png"> Parents App
        </ion-title>
    </ion-navbar>
</ion-header>



<ion-content>

    <div padding>
        <ion-row>
            <ion-col col-2 ion-item no-lines>

                <ion-avatar item-left>
                    <img src="{{parentAvatar}}" alt="parent picture">
                </ion-avatar>

            </ion-col>
            <ion-col col-4 id="text-div">
                <button ion-button round outline>Classes</button>
            </ion-col>
            <ion-col id="kids-pic">
                <img src="assets/imgs/activities.png">
            </ion-col>
        </ion-row>
    </div>

    <div padding>
        <ion-row *ngIf="kidList; else loading">


            <button ion-button block id="list-row" style="background:#48c5ff;" *ngFor="let item of kidList" (click)="goToShowKidClasses(item)">

                    <ion-col col-2 ion-item  no-lines id="col-avatar">
                      
                        <ion-avatar item-left>
                            <img src="{{item.avatarSrc}}" alt="child pic">
                        </ion-avatar>

                    </ion-col>

                    <ion-col id ="list-col">

                        {{ item.kidName }}<br>


                        {{ item.groupName }} {{item.groupID}}
                        
                    </ion-col>
            </button>




        </ion-row>
        <div>
            <ng-template #loading>
                <ion-spinner name="bubbles">Loading Kids...</ion-spinner>
            </ng-template>
        </div>

    </div>

    <div padding>
        <button ion-button block (click)="goToFees()">Fees</button>
    </div>

    <div padding>
        <button ion-button block (click)="goToAttendance()">Attendance</button>
    </div>

    <div padding>
        <button ion-button block (click)="goToProgress()">Progress</button>
    </div>


</ion-content>