progress2 {
    #coming-soon {
        background-color: rgb(206, 252, 252);
        color: white;
        font-style: italic;
        font: italic bold 12px/30px Georgia, serif;
    }
    #coming-soon-header {
        color: darkmagenta;
    }
}