<!-- Generated template for the AttendanceComponent component -->
<ion-header>
    <ion-navbar>
        <ion-title>
            <img alt="logo" height="40" src="assets/imgs/parent.png"> ATTENDANCE
        </ion-title>
    </ion-navbar>
</ion-header>

<ion-content padding>

    <ion-grid>
        <ion-row>
            <button ion-button block>
                                <ion-col col-3>
                                    KID ID
                                </ion-col>
                                <ion-col col-4>
                                    KID NAME
                                </ion-col>
                                <ion-col col-5>
                                    GROUP NAME ID
                                </ion-col>
                            </button>
        </ion-row>
        <div>
            <ion-row *ngIf="kidsList; else loading">
                <button *ngFor="let item of kidsList" (click)="getAttendanceForKid(item)">
                            <button ion-button block id="list-row">
                                
                                <ion-col col-3  ion-item  id="col-avatar">
                                        {{ item.kidID }}
                                        <ion-avatar item-left no-padding >
                                                <img src="assets/imgs/geeta.jpg">   
                                            </ion-avatar>
                                        
                                    
                                
                                </ion-col>
                        
                                <ion-col col-4>
            
                                    {{ item.kidName }}<br>
            
                                </ion-col>
                                <ion-col col-5>
            
                                    {{ item.groupName }} {{item.groupID}}
            
                                </ion-col>
                                
                            </button>
                </button>

            </ion-row>
            <ng-template #loading>
                <ion-spinner name="bubbles">Loading Kids...</ion-spinner>
            </ng-template>
        </div>

    </ion-grid>

    <button padding ion-button block id="card-name" *ngIf=selectedKid>
                    {{selectedKid}}
    
        </button>




    <ion-card *ngFor="let item of attendanceList">
        <ion-card-header>
            DATE {{ item.date }}
        </ion-card-header>
        <ion-card-content>
            ATTENDANCE : {{ item.presentAbsent }}

        </ion-card-content>
    </ion-card>




</ion-content>