attendance {
    #list-row {
        background: #48c5ff;
        height: 60px;
    }
    #list-col {
        background: #48c5ff;
    }
    #col-avatar {
        width: 30px;
        height: 30px;
        background: #48c5ff;
    }
    ion-avatar img {
        width: 50px !important;
        height: 50px !important;
    }
    #card-name {
        background: #5f85c7;
    }
    #attendance-header {
        background-color: rgb(79, 156, 243);
        color: white;
    }
    #attendance {
        background-color: rgb(97, 206, 240);
    }
    #card-detail {
        color: darkmagenta;
    }
}