<!-- Generated template for the EditKidComponent component -->
<ion-header>
    <ion-navbar>
        <ion-title>
            <img alt="logo" height="40" src="assets/imgs/parent.png"> EDIT KIDS
        </ion-title>
    </ion-navbar>
</ion-header>

<ion-content padding>

    <ion-card text-wrap>
        <ion-card-header>
            <ion-label fixed>Kid Name </ion-label>
            <ion-input [(ngModel)]="kid.kidName" type="text" value=""></ion-input>
        </ion-card-header>
        <ion-card-content>
            KID ID {{kid.kidID}}
        </ion-card-content>
        <ion-card-content>
            GROUP {{kid.groupName}} ({{kid.groupID}})
        </ion-card-content>
       

        <ion-card-content>
            <button padding ion-button (click)="saveKidInfo()" icon-right>Save
            <ion-icon name="add" ></ion-icon>
        </button>
        </ion-card-content>

    </ion-card>
</ion-content>